/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-ene-2016, 14:04:55
    Author     : Cristina
*/

#insertUpdate {
    -fx-background-image:url("../../imagenes/fondo.png");
    -fx-font-family: "Monotype Corsiva";
    -fx-background-size: stretch;
    -fx-background-size:cover;
    -fx-font-size: 20px;
}

#lblError {
    -fx-font-weight: bold;
}

TextField,  PasswordField{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.75), 10, 0, 0, 0);
}

Button {
    -fx-background-radius: 500;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.75), 15, 0, 0, 0.9);
    -fx-color: white;
    -fx-background-color: #337ab7;
}

Button:hover {
    -fx-background-color: #286090;
}


